* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}

/*_________________________Navegacion_______________________*/

.nav{
    background-color: #FDC723;
}

.nav__brand, 
.nav__list, 
.nav__item{
    display: inline-block;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav__brand, .nav__brand a, .nav__item, .nav__item a{
    margin: 1rem;
}

.nav a{
    color: black;
    text-decoration: none;
    position: relative;
    top: 0;
    transition: 0.5s;
    font-size:1.25rem;
}

.nav a:hover{
    color: aliceblue;
    top: 10px
}

.nav__item--current a{
    color: rgb(112, 110, 116);
    pointer-events: none;
    font-weight: bold;
}

/* ______________________________Baner_______________________ */
.banner{
    background-image: url(/img/VILLA_ERICK_LAMINA_DE_PRESENTACION-02.jpg);
    background-position: center;
    background-size: cover;
    height: 75vh;
    position: relative;
    overflow: hidden;
}

.banner__nav{
    /* background-color: rgb(255, 255, 255); */
    position: absolute;
    top: 50%;
   /* height: 5rem; */
    transform: translate(0,-50%);
    width: calc(100% - 2rem);
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}

.banner__nav-prev,
.banner__nav-next{
    font-size: 3rem ;
    display: inline-block;
    /* background-color: #FDC723; */
    color: rgb(0, 0, 0);
}

.banner__info{
    /* background-color: #FDC723; */
    position: relative;
    top: 75%;
    transform: translateY(0, -50%);
    left: 5%;
    width: max-content;
    padding: 1rem ;
    color: white;
}

.banner__info h1{
    font-size: 3rem;
}

.banner__info h6{
    font-size: 1rem;
}

/* __________________________Precios________________________ */

.precios{
    text-align: center;
    max-width: 60rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    /* background-color: rgb(255, 255, 255); */

}

.precios__item{
    background-color: #FDC723;
    display: inline-block;
    width: 60%;
    height: 30rem;
    margin: 2%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0px .5rem .8rem rgba(0, 0, 0, 0.3) ;
    transition: all 0.2s ;
}

.precios__item h2{
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.precios__item:hover{
    transform: scale(1.05);
    box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.2) ;
    background-color: rgb(0, 0, 0);
    color: white;
}

  
.only-xbs{
    display: none;
}

@media screen and (min-width: 49rem){
    .precios__item{
        width: 28%;
        height: 20rem;
   
    }
}

@media screen and (min-width : 100rem) {
    .precios{
        max-width: 120%;

    }
    .precios__item{
        width: 12%;
    }
    .only-xbs{
        display: inline-block;
    }
}


/*____________________________footer______________________ */

.main-footer{
background: #FDC723;
color: white;
margin: 0px;
padding: 5px;
margin-top: 10px;

}
.social-net{
    text-align: center;
}

.social-icon:hover{
    transform: scale(1.05);
    box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.2) ;
    background-color: rgb(255, 255, 255);
    color: white;}

.social-icon{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: #000000;
    margin: 1rem;
    border-radius: .2rem;
}
.copi{
    margin: 0px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    color: black;
}